@import url("https://cdn.jsdelivr.net/npm/@catppuccin/palette@1.8.0/css/catppuccin.min.css");

.text-ctp {
    color: var(--ctp-macchiato-text);
}
.text-ctp-sub1 {
    color: var(--ctp-macchiato-subtext1);
}
.text-ctp-sub0 {
    color: var(--ctp-macchiato-subtext0);
}
.text-ctp-mauve {
    color: var(--ctp-macchiato-mauve);
}

.bg-ctp-crust {
    background-color: var(--ctp-macchiato-crust);
}
.bg-ctp-mantle {
    background-color: var(--ctp-macchiato-mantle);
}
.bg-ctp-base {
    background-color: var(--ctp-macchiato-base);
}
.bg-ctp-surface0 {
    background-color: var(--ctp-macchiato-surface0);
}
.bg-ctp-surface1 {
    background-color: var(--ctp-macchiato-surface1);
}
.bg-ctp-surface2 {
    background-color: var(--ctp-macchiato-surface2);
}
.bg-ctp-overlay0 {
    background-color: var(--ctp-macchiato-overlay0);
}
.bg-ctp-overlay1 {
    background-color: var(--ctp-macchiato-overlay1);
}
.bg-ctp-overlay2 {
    background-color: var(--ctp-macchiato-overlay2);
}

body {
    color: var(--ctp-macchiato-text);
    background-color: var(--ctp-macchiato-base);
}

.nav {
    max-width: 8rem;
}

a .logos {
    width: 36px;
    height: 36px;
}

.contact-box {
    border: 2px solid transparent;
    transition:
        transform 300ms ease,
        border-color 300ms ease;
}

.contact-box:hover {
    transform: translateX(10px);
    border-color: var(--ctp-macchiato-mauve);
}
